<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace = mapper对应接口的全限定符 -->
<mapper namespace="com.quintus.mapper.EmployeeMapper">
    <!-- 声明标签写sql语句 crud: select insert update delete
         每个标签对应接口的一个方法
         注意：mapper接口不能重载！因为xml文件只能根据方法名识别，同方法名的多个方法会冲突
    -->

    <!-- 查询 <select>标签
            id = 方法名
            resultType = 返回值类型
            标签内编写SQL语句
    -->
    <select id="queryById" resultType="com.quintus.pojo.Employee">
        select emp_id empID, emp_name empName, emp_salary empSalary from t_emp where emp_id = #{id}
    </select>

    <delete id="deleteById">
        delete from t_emp where emp_id = #{id}
    </delete>
</mapper>
<!-- xml方式写sql语句 -->